#visualisation {
    text-align: center;
    margin: 50px auto;
}

#wordcloud-container {
    margin: 0 auto;
    width: 80%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    background-color: #1f2039 !important;
}
