
#container-bar {
    display: flex; 
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5%;
}

#statistics {
    width: 50%; 
    box-sizing: border-box;
    text-align: center; 
    margin-left: 5%;
}

#box_map {
    box-sizing: border-box;
    text-align: center; 
}

#texte-static {
    width: 50%;
    box-sizing: border-box;
    text-align: justify;
    padding-left: 20px;
    margin-right: 5%;
    margin-top: 10%;
}

#paragraphe {
    text-align: justify; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#map {
    margin: 0;
    width: 100%;
    height: auto;
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 2%;
}

td, th {
    border: 1px solid #aa90dd;
    padding: 10px;
}

th {
    font-size: 17px;
    color: #c3b2e4;
}

em {
    color: #c3b2e4;
}

.title {
    font-size: 30px;
}