* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 50px;
    color: #aa90dd;
}

#title {
    color: #1f2039; 
    font-size: 50px;  
    text-align: center;  
    margin: 0;  
    padding: 10px 0; 
    font-family: 'Dancing Script', cursive; 
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #1f2039;
}

.header-nav {
    justify-content: space-between;
}

header, footer {
    padding: 20px;
}

.lien {
    color: #1f2039;
    text-decoration: none;
    margin: 20px;
}

.lien:hover {
    text-decoration: underline;
}

.logo {
    width: 120px;
    height: 100px;
}

main {
    padding: 150px;
    background-color: #1f2039;
    color: rgb(255, 255, 255);
}

strong {
    color: #c3b2e4;

}